.titleBar{
  background-color: #000;
  display: block;
  height:100px;
  color:#fff;
  padding-right:500;


}
.websiteBody{

  
  position: absolute;
  right: 500px;
  width: 500px;
  
  padding: 10px;

}

.tableInfo{
  background-image: url(sample5.jpg);
display:block;
height: 1000px;
padding-right: 10;
align-items: center;
color:#fff;

}
.body{
  background-image: url(sample5.jpg);
}

.upperBody{
  background-color: #000;

}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableInfo{

  table-layout: auto;
  width: 180px;

}



